.title h1{
    left: 0;
    position:absolute;
    text-align:center;
    top: 150px;
    width: 100%;
    color: #fff;
    font-size: 85px;
    
}
.cover-img {
    position:relative;
    margin-top:-50px;
    height:100%;
    width:100%;
    opacity: ;
}

.desc-text {
    left: 10%;
    position:absolute;
    top: 90%;
    width: 80%;
    color: #ff8e36;
    font-size:35px ;
    text-align:center;
    background-color: #3943A2;
    opacity: ;
}
.enter-button {
    left: 25%;
    position:absolute;
    text-align:center;
    top: 45%;
    width: 50%;
    color: #fff;
    padding: 10 0 10 0;
    font-size: 18px;
    color:#ff8e36;
    background-color: #3943A2;
    border:0px;
}
.enter-button:hover {
    background-color:#ff8e36;
    color:#3943A2;
}
