.navbar {
    background-color: #3943A2;   
    color: #fff;
    border: 0px solid;
    border-radius: 0px;
    padding-top: 7px;
    font-size: 23px;
}
.dropdown-toggle:hover { 
    color: #ff8e36;
}
.dropdown-menu {
    margin-top: 11px;
    margin-left:-15px;
    border-radius: 0;
}
.modal-content {
    border-radius: 0px;
}
.modal-header{
    background-color: #3943A2;   
    color: #fff;
}
